{{ define "body" }}

    <h2>Log in</h2>
    <form action="/login" method="POST">
        <label for="email">Email:</label>
        <input type="text" name="email" />
        <label for="password">Password:</label>
        <input type="password" name="password" />
        <input type="submit" value="Log in" />
    </form>

    <h2>Sign up</h2>
    <form action="/account/create" method="POST">
        <label for="email">Email:</label>
        <input type="text" name="email" />
        <label for="password">Password:</label>
        <input type="password" name="password" />
        <input type="submit" value="Create account" />
    </form>

{{ end }}
