
{{ define "body" }}

    {{ if any .Model.Errors }}
        <ul class="error-list">
            {{ range $value := .Model.Errors }}
                <li>{{ $value }}
            {{ end }}
        </ul>
    {{ end }}
    <h2>Register an account</h2>
    <form action="/register" method="POST">
        <label for="email">Email:</label>
        <input type="text" name="email" />
        <label for="password">Password:</label>
        <input type="password" name="password" />
        <input type="submit" value="Create account" />
    </form>

{{ end }}
